
<style>
    /* Default: hide desktop, show mobile */
.desktopShow {
  display: none;
}

.mobileHide {
  display: block;
}

/* At 1024px and above: show desktop, hide mobile */
@media (min-width: 1024px) {
  .desktopShow {
    display: inline-block; margin: auto; text-align: center; width: 100%; max-width: 900px;
  }

  .mobileHide {
    display: none;
  }
}

</style>
<DIV class="mobileHide"><a class="cs-button-solid" href="tel:{{client.phoneForTel}}">Get a Free Quote in Seconds</a></DIV>

<DIV class="desktopShow"><a class="cs-button-solid" href="/contact">Get a Free Quote in Seconds</a></DIV>