
<style>
    /* Default: hide desktop, show mobile */
.desktopShow {
  display: none;
}

.mobileHide {
  display: block;
}

/* At 1024px and above: show desktop, hide mobile */
@media (min-width: 1024px) {
  .desktopShow {
    display: block;
  }

  .mobileHide {
    display: none;
  }
}

</style>
<DIV class="mobileHide">  <a style="margin-top: 30px;" href="tel:{{client.phoneForTel}}" class="cs-button-solid">Call: {{client.phoneForTel}}</a></DIV>

<DIV class="desktopShow">  <a style="margin-top: 30px;" href="/contact" class="cs-button-solid">Call: {{client.phoneForTel}}</a></DIV>